* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul,li,a, a:link, a:visited  {
    text-decoration: none;  
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul, ul li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	  font-weight: inherit;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
img {
    max-width: 100%;
  }
.group{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
body{
    line-height: 1;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
}
.header{
  
}
.container{
  max-width: 1274px;
  width: 100%; 
  margin: 0 auto;
  z-index: 2;
  position: relative;
}
.header_container{
    display: flex;
    justify-content: space-between;
    margin-top: 57px;
}
.menu_list{
    display: flex;
    align-items: center;
    gap: 73px;
    color: #AAAAAB;
    text-decoration: none;
}
.logotext{
    display: flex;
    justify-content: space-between;
}
.logoicon{

}
.burger{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 45px;
    right: 15px;
    display: none;
}
/*****************/
.btn{
    max-width: 216px;
    width: 100%; 
    height: 66px;
    background: #F78BB6;
    border-radius: 4px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    position: relative;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 49px;
}
/******************************/


.wrapper{
    display: flex;
    margin-top: 194px;
}
.inner__text{

}
.header__small{
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    color: #F78CB6;
}
.header__capital{
    font-family: 'Ubuntu', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    color: #56597A;
}
.header__text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #919299;
}
.header__images{
    margin-right: 84px;
}
/*****************section1************/
.we__deliver{
    height: 148px;
    max-width: 618px;
    width: 100%; 
    padding-top: 29px;
}
.design__is{
    height: 105px;
    max-width: 537px;  
    width: 100%;
    padding-top: 31px;
}
/*****************section2************/
.our__Services{
    padding-top: 194px;
}
.Services{
    display: flex;
    margin-top: 58px;
    justify-content: center;
}
.all__Services{
    height: 307px;
    max-width: 270px;
    width: 100%; 
    border-radius: 8px;
    background: #FFF1F9;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}
.img__services{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.development{
    text-align: center;
}
.services__capital{
    font-size: 34px;
    font-weight: 500;
    line-height: 72px;
    text-align: center;
    color: #56597A;
    margin-top: 38px;
}
.services__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #919299;
    max-width: 259px;
    width: 100%; 
}

/*****************section3************/
.we__loves{
    height: 124px;
    max-width: 602px;
    width: 100%; 
    padding-top: 15px;
}
.a__creative{
    height: 123px;
    max-width: 532px;
    width: 100%;  
    margin-top: 60px;   
}

/*****************section4************/
.we__believe{
    height: 124px;
    max-width: 591px; 
    width: 100%; 
    margin-top: 15px;   
}
.good__teamwork{
    height: 123px;
    max-width: 535px; 
    width: 100%; 
    margin-top: 60px;   
}

/*****************section5************/
.thats__what{
    height: 124px;
    max-width: 635px; 
    width: 100%;  
    margin-top: 15px;  
}
.heartiest__congratulations{
    height: 140px;
    max-width: 425px; 
    width: 100%; 
    margin-top: 40px;   
}
.jorge__morrison{
    height: 32px;
    max-width: 192px;
    width: 100%; 
    font-family: Proxima Nova;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    color:#56597A;
    padding-top: 23px;    
}
.header__texts{
    height: 32px;
    max-width: 144px;
    width: 100%; 
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #ABABAB;
    padding-top: 20px;
}
/********************section6**************/

.brands_icon{
    display: flex;
    gap: 89px;
    align-items: center;
}
.ferrari__icon{
    height: 157px;
    max-width: 157px;  
    width: 100%;   
}
.microsoft__icon{
    height: 56px;
    max-width: 195px;  
    width: 100%;  
}
.nat__icon{
    height: 43px;
    max-width: 143px;  
    width: 100%;   
}
.deloitte__icon{
    height: 51px;
    max-width: 178px;  
    width: 100%;   
}
.google__icon{
    height: 46px;
    max-width: 139px;   
    width: 100%;  
}

/************section7************/
.Subscribe__to{
    height: 72px;
    max-width: 685px;
    width: 100%;
    margin-top: 30px;
}

.a__newsletter{
    margin-top: 40px;
    text-align: center;
}
.subscribe{
   
}
.wrapper__pper{
    margin-top: 169px;
}
.btn__form{
    max-width: 706px;
    width: 100%;
    height: 82px;
    filter: drop-shadow(20px 20px 40px rgba(205, 205, 205, 0.25));
}
/**********************8****************/
  .footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 105px;
    margin-right: 135px;
  }
.footer_section{
    padding-top: 79px;
    margin-bottom: 67px;
    margin-right: 100px;
    
  }
.footer_information{
    display: flex;
  }
.north{
    width: 291px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.02em;
    color:#919299
  }
.northhh{
    margin-top: 38px;
  }
.follow__us{
    margin-top: 38px;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.02em;
    color:#919299
  }
.section__capital{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #56597A;
    width: 136px;
    padding-bottom: 15px;
}
 .section__text{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.02em;
    padding-top: 25px;
}
/****************************************/
.footer{
    background: #F78CB6;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.text__all{
font-size: 14px;
font-weight: 450;
line-height: 24px;
letter-spacing: 0.02em;
color:#FFFFFF
}
.wrapper__eng{
    display: flex;
}
.text__eng{
    margin: 0px 5px 0px 13px;
}
.down__arrow{
   margin-bottom: -5px;
}
/*************************************************************************/
@media screen and (max-width: 640px){
    .container{width: 100%; width: auto;padding:0px 5px;
    display: flex;
    flex-direction: column;}
    .menu_list{
        display: none;
    }
    .burger{display: block;}
    .Services{ display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
    .all__Services{
        margin-top: 15px;
    }
    
.brands_icon{
    display:grid;
        grid-template-columns: auto auto;
        gap: 20px;
}
.design__is{margin-top: 230px;}
.a__creative {margin-top: 260px;}
.heartiest__congratulations {margin-top: 260px;}
.jorge__morrison {margin-top: 70px;}
.a__newsletter {margin-top: 180px;}
.good__teamwork {margin-top: 260px;}
.btn{margin-top: 145px;}
.wrapper{flex-direction: column;}
.footer_section {margin-right: 0;}
}